nav {
  margin: 0px;
  background-color: #e7ecee;
  padding: 0px;
  display: flex;
  justify-content: space-between;
}
.header {
  color: rgb(14, 8, 0);
  margin: 0px;
  text-decoration: none;
}
.link {
  color: rgb(14, 8, 0);
}
